# Save this as live-config.sh and fill in below to enable the 'live' unit tests
export DW_TEST_USERNAME=...
export DW_TEST_PASSWORD=...
export DW_TEST_ENDPOINT="http://www.dreamwidth.org/interface/xmlrpc"
export DW_TEST_SKIP_BAD=1